* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:url("https://images.unsplash.com/photo-1721763606314-2ffd52334bb3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");  
    position: center;

}

.content {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 700px;
    background: rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: grid;
    grid-template-rows: 25% 35% 35%;
    padding: 50px;
    row-gap: 5px;
}

.main .box {
    padding: 15px;
}

.box label {
    margin-right: 20px;
    width: 110px;

}

.input-box {
    width: 300px;

}

.box input {
    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.input-box textarea {
    width: 100%;
    border-radius: 5px;
    margin-left: 5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background: blur(9px);
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}


.c {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.C {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.C .choice {
    display: flex;
    justify-content: space-evenly;
    margin: 2px 0;
}

.cards label {
    width: 130px;
}

.choice .cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

.buy {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
}